<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Rejestracja</h1>
                </div>
                <form>
                    <form [formGroup]="signUp" (ngSubmit)="addSignUp()">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="exampleInputUsername1" class="form-label">Nazwa użytkownika</label>
                                <input formControlName="username" type="text" class="form-control" id="exampleInputUsername1">
                                <span class="text-danger" *ngIf="signUp.controls['username'].dirty && signUp.hasError('required','username')">*Nazwa użytkownika jest wymagane</span>
                              </div>
                          <label for="exampleInputEmail1" class="form-label">Adres email </label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="text-danger" *ngIf="signUp.controls['email'].dirty && signUp.hasError('required','email')">*Email jest wymagany</span>

                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Hasło</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="signUp.controls['password'].dirty && signUp.hasError('required','password')">*Hasło jest wymagane</span>
                        </div>
                        <button type="submit" [disabled]="!signUp.valid" class="btn btn-primary">Zarejestruj się</button>
                      </form>
                </form>
                <a style="color: rgb(0, 0, 0); margin-top: 10px" routerLink="/login">Masz już konto? Zaloguj się!</a>
            </div>
        </div>
    </div>