Wybierz datę: <input (change)="getAllMenu()" type="date" [(ngModel)]="DataSelected">

<div style =" margin-top: 10px">

<div class="center">Śniadanie</div>
<table class="table" id="tabId">
  <thead class="thread-light">

    <tr>
      <th> <input type="text" class="form-control"   id="name"  name="foodName" placeholder="Podaj nazwę"></th>
      <th> <input type="number" class="form-control" id="calorie"  name="calorie" placeholder="Podaj kalorie"></th>
      <th> <input type="number" class="form-control" id="protein"  name="protein" placeholder="Podaj węglowodany"></th>
      <th> <input type="number" class="form-control" id="fat"  name="fat" placeholder="Podaj tłuszczę"></th>
      <th> <input type="number" class="form-control" id="sugar"  name="sugar" placeholder="Podaj cukier"></th>
      <th> <input type="number" class="form-control" id="fiber"  name="fiber" placeholder="Podaj błonnik"></th>
      <th><button type="button" class="btn btn-primary" (click)="addFood()">Dodaj</button></th>
    </tr>

    <tr>
      <th>Nazwa</th>
      <th>Kalorie</th>
      <th>Węglowodany</th>
      <th>Tłuszczę</th>
      <th>Cukry</th>
      <th>Błonnik</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.foods.name}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.foods.calorie}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.foods.protein}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.foods.fat}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.foods.sugar}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.foods.fiber}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="center">Drugie śniadanie</div>
<table class="table" id="tabId">
  <thead class="thread-light">

    <tr>
      <th> <input type="text" class="form-control"   id="name"  name="foodName" placeholder="Podaj nazwę"></th>
      <th> <input type="number" class="form-control" id="calorie"  name="calorie" placeholder="Podaj kalorie"></th>
      <th> <input type="number" class="form-control" id="protein"  name="protein" placeholder="Podaj węglowodany"></th>
      <th> <input type="number" class="form-control" id="fat"  name="fat" placeholder="Podaj tłuszczę"></th>
      <th> <input type="number" class="form-control" id="sugar"  name="sugar" placeholder="Podaj cukier"></th>
      <th> <input type="number" class="form-control" id="fiber"  name="fiber" placeholder="Podaj błonnik"></th>
      <th><button type="button" class="btn btn-primary" (click)="addFood()">Dodaj</button></th>
    </tr>

    <tr>
      <th>Nazwa</th>
      <th>Kalorie</th>
      <th>Węglowodany</th>
      <th>Tłuszczę</th>
      <th>Cukry</th>
      <th>Błonnik</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST">{{menu.foods.name}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST">{{menu.foods.calorie}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST">{{menu.foods.protein}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST">{{menu.foods.fat}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST">{{menu.foods.sugar}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST">{{menu.foods.fiber}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>


<div class="center">Obiad</div>
<table class="table" id="tabId">
  <thead class="thread-light">

    <tr>
      <th> <input type="text" class="form-control"   id="name"  name="foodName" placeholder="Podaj nazwę"></th>
      <th> <input type="number" class="form-control" id="calorie"  name="calorie" placeholder="Podaj kalorie"></th>
      <th> <input type="number" class="form-control" id="protein"  name="protein" placeholder="Podaj węglowodany"></th>
      <th> <input type="number" class="form-control" id="fat"  name="fat" placeholder="Podaj tłuszczę"></th>
      <th> <input type="number" class="form-control" id="sugar"  name="sugar" placeholder="Podaj cukier"></th>
      <th> <input type="number" class="form-control" id="fiber"  name="fiber" placeholder="Podaj błonnik"></th>
      <th><button type="button" class="btn btn-primary" (click)="addFood()">Dodaj</button></th>
    </tr>

    <tr>
      <th>Nazwa</th>
      <th>Kalorie</th>
      <th>Węglowodany</th>
      <th>Tłuszczę</th>
      <th>Cukry</th>
      <th>Błonnik</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf=" menu.meal == allMeal.LUNCH">{{menu.foods.name}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH">{{menu.foods.calorie}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH">{{menu.foods.protein}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH">{{menu.foods.fat}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH">{{menu.foods.sugar}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH">{{menu.foods.fiber}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="center">Przekąska</div>
<table class="table" id="tabId">
  <thead class="thread-light">

    <tr>
      <th> <input type="text" class="form-control"   id="name"  name="foodName" placeholder="Podaj nazwę"></th>
      <th> <input type="number" class="form-control" id="calorie"  name="calorie" placeholder="Podaj kalorie"></th>
      <th> <input type="number" class="form-control" id="protein"  name="protein" placeholder="Podaj węglowodany"></th>
      <th> <input type="number" class="form-control" id="fat"  name="fat" placeholder="Podaj tłuszczę"></th>
      <th> <input type="number" class="form-control" id="sugar"  name="sugar" placeholder="Podaj cukier"></th>
      <th> <input type="number" class="form-control" id="fiber"  name="fiber" placeholder="Podaj błonnik"></th>
      <th ><button type="button" class="btn btn-primary" (click)="addFood()">Dodaj</button></th>
    </tr>

    <tr>
      <th>Nazwa</th>
      <th>Kalorie</th>
      <th>Węglowodany</th>
      <th>Tłuszczę</th>
      <th>Cukry</th>
      <th>Błonnik</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf=" menu.meal == allMeal.SNACK">{{menu.foods.name}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK">{{menu.foods.calorie}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK">{{menu.foods.protein}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK">{{menu.foods.fat}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK">{{menu.foods.sugar}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK">{{menu.foods.fiber}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="center">Kolacja</div>
<table class="table" id="tabId">
  <thead class="thread-light">

    <tr>
      <th> <input type="text" class="form-control"   id="name"  name="foodName" placeholder="Podaj nazwę"></th>
      <th> <input type="number" class="form-control" id="calorie"  name="calorie" placeholder="Podaj kalorie"></th>
      <th> <input type="number" class="form-control" id="protein"  name="protein" placeholder="Podaj węglowodany"></th>
      <th> <input type="number" class="form-control" id="fat"  name="fat" placeholder="Podaj tłuszczę"></th>
      <th> <input type="number" class="form-control" id="sugar"  name="sugar" placeholder="Podaj cukier"></th>
      <th> <input type="number" class="form-control" id="fiber"  name="fiber" placeholder="Podaj błonnik"></th>
      <th><button type="button" class="btn btn-primary" (click)="addFood()">Dodaj</button></th>
    </tr>

    <tr>
      <th>Nazwa</th>
      <th>Kalorie</th>
      <th>Węglowodany</th>
      <th>Tłuszczę</th>
      <th>Cukry</th>
      <th>Błonnik</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf=" menu.meal == allMeal.DINNER">{{menu.foods.name}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER">{{menu.foods.calorie}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER">{{menu.foods.protein}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER">{{menu.foods.fat}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER">{{menu.foods.sugar}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER">{{menu.foods.fiber}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

</div>