<nav class="navbar navbar-light" style="background-color: #68c970" >
    <h1></h1>
    <form class="nav justify-content-end">
    <button type="button" id="add-btn" class="btn btn-success mx-2" [routerLink]="['/menu', user]">Jadłospis</button>
    <button routerLink="/login" class="btn btn-danger mx-2">Wyloguj</button>
</form>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Moje dane</h1>
                </div>
                <form>
                    <form [formGroup]="updateUser" (ngSubmit)="update()">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label  class="form-label">Płeć</label>
                                <select id="selectSex" name="selectSex" class="form-control" formControlName="sex" [(ngModel)]='this.userDate.sex'>
                                    <option value="male">Mężczyzna</option>
                                    <option value="female">Kobieta</option>
                                  </select>
                                <span class="text-danger" *ngIf="updateUser.controls['sex'].dirty && updateUser.hasError('required','sex')">*pole jest wymagane</span>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label class="form-label">Wzrost (cm)</label>
                                <input formControlName="height" type="number" placeholder="{{this.userDate.height}}" class="form-control" min="1">
                                <span class="text-danger" *ngIf="updateUser.controls['height'].dirty && updateUser.hasError('required','height')">*pole jest wymagane</span>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label  class="form-label">Waga (kg)</label>
                                <input formControlName="weight" type="number" min="0" placeholder="{{this.userDate.weight}}" class="form-control">          
                                <span class="text-danger" *ngIf="updateUser.controls['weight'].dirty && updateUser.hasError('required','weight')">*pole jest wymagane</span>                    
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label  class="form-label">Wiek</label>
                                <input formControlName="age" type="number" min="0" placeholder="{{this.userDate.age}}" class="form-control">          
                                <span class="text-danger" *ngIf="updateUser.controls['age'].dirty && updateUser.hasError('required','age')">*pole jest wymagane</span>                    
                            </div>
                        </div>
                        <button type="submit" (click)="reloadCurrentPage()" [disabled]="updateUser.invalid" class="btn btn-primary">Dodaj</button>
                      </form>
                </form>
            </div>
        </div>
    </div>