<div class="card2">
    <div class="text-center">
    <h1>FoodMenu</h1>
    <h2>Stwórz swój własny jadłospis</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Logowanie</h1>
                </div>
                <form>
                    <form [formGroup]="login" (ngSubmit)="getLogin()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Adres email </label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="text-danger" *ngIf="login.controls['email'].dirty && login.hasError('required','email')">*Email jest wymagany</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Hasło</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="login.controls['password'].dirty && login.hasError('required','password')">*Hasło jest wymagane</span>         
                        </div>
                        <button type="submit" [disabled]="!login.valid" class="btn btn-primary" >Zatwierdź</button>
                      </form>
                      <a style="color: rgb(0, 0, 0); margin-top: 10px" routerLink="/signup">Nowy użytkownik? Zarejestruj się!</a>
                </form>
            </div>
        </div>
    </div>


