<nav class="navbar navbar-light" style="background-color: #68c970" >
    <h1 class="navBar" ><input (change)="getAllMenu()" type="date" [(ngModel)]="dataSelected"></h1>
    <form class="nav justify-content-end">
    <button type="button" id="add-btn" class="btn btn-success mx-2" [routerLink]="['/addFood', user]"> Dodaj produkt</button>
    <button type="button" class="btn btn-success mx-2" [routerLink]="['/profile', user]">Mój profil</button>

    <button routerLink="/login" class="btn btn-danger mx-2">Wyloguj</button>
</form>
</nav>


      <div class="div-energy">
              <h4>Dzienne zapotrzebowanie kaloryczne</h4>
              <h6>{{menuEnergy.toFixed(2)}} / {{dailyEnergy.toFixed(2)}}</h6>   
      </div>


<div class="center">Śniadanie</div>
<div class="center"> <button type="button" class="btn btn-success mx-2"[routerLink]="['/note', user, dataSelected, 0 ]">Sposób przygotowania</button></div>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Waga (g)</th>
      <th>Wartość energetyczna (kj/kcal)</th>
      <th>Tłuszcz (g)</th>
      <th>w tym kwasy tłuszczowe nasycone (g)</th>
      <th>Węglowodany (g)</th>
      <th>w tym cukry (g)</th>
      <th>Błonnik (g)</th>
      <th>Białko (g)</th>
      <th><button type="button" class="btn btn-primary" [routerLink]="['/pickFood', user, dataSelected, 0 ]">Dodaj</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus">
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.name}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.weight.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.energy.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.fat.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.saturates.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.carbohydrate.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.sugars.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.fibre.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST">{{menu.food.protein.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.BREAKFEST"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="center">Drugie śniadanie</div>
<div class="center"> <button type="button" class="btn btn-success mx-2"[routerLink]="['/note', user, dataSelected, 0 ]">Sposób przygotowania</button></div>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Waga (g)</th>
      <th>Wartość energetyczna (kj/kcal)</th>
      <th>Tłuszcz (g)</th>
      <th>w tym kwasy tłuszczowe nasycone (g)</th>
      <th>Węglowodany (g)</th>
      <th>w tym cukry (g)</th>
      <th>Błonnik (g)</th>
      <th>Białko (g)</th>
      <th><button type="button" class="btn btn-primary" [routerLink]="['/pickFood', user, dataSelected, 1 ]">Dodaj</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.name}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.weight.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.energy.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.fat.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.saturates.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.carbohydrate.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.sugars.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.fibre.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SECOND_BREAKFEST">{{menu.food.protein.toFixed(2)}}</td>
      <td *ngIf=" menu.meal == allMeal.SECOND_BREAKFEST"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>


<div class="center">Obiad</div>
<div class="center"> <button type="button" class="btn btn-success mx-2"[routerLink]="['/note', user, dataSelected, 0 ]">Sposób przygotowania</button></div>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Waga (g)</th>
      <th>Wartość energetyczna (kj/kcal)</th>
      <th>Tłuszcz (g)</th>
      <th>w tym kwasy tłuszczowe nasycone (g)</th>
      <th>Węglowodany (g)</th>
      <th>w tym cukry (g)</th>
      <th>Błonnik (g)</th>
      <th>Białko (g)</th>
      <th><button type="button" class="btn btn-primary" [routerLink]="['/pickFood', user, dataSelected, 2 ]">Dodaj</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.name}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.weight.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.energy.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.fat.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.saturates.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.carbohydrate.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.sugars.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.fibre.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.LUNCH">{{menu.food.protein.toFixed(2)}}</td>
      <td *ngIf=" menu.meal == allMeal.LUNCH"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="center">Przekąska</div>
<div class="center"> <button type="button" class="btn btn-success mx-2"[routerLink]="['/note', user, dataSelected, 0 ]">Sposób przygotowania</button></div>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Waga (g)</th>
      <th>Wartość energetyczna (kj/kcal)</th>
      <th>Tłuszcz (g)</th>
      <th>w tym kwasy tłuszczowe nasycone (g)</th>
      <th>Węglowodany (g)</th>
      <th>w tym cukry (g)</th>
      <th>Błonnik (g)</th>
      <th>Białko (g)</th>
      <th><button type="button" class="btn btn-primary" [routerLink]="['/pickFood', user, dataSelected, 3 ]">Dodaj</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.name}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.weight.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.energy.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.fat.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.saturates.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.carbohydrate.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.sugars.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.fibre.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.SNACK">{{menu.food.protein.toFixed(2)}}</td>
      <td *ngIf=" menu.meal == allMeal.SNACK"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="center" >Kolacja</div>
<div class="center"> <button type="button" class="btn btn-success mx-2"[routerLink]="['/note', user, dataSelected, 0 ]">Sposób przygotowania</button></div>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Waga (g)</th>
      <th>Wartość energetyczna (kj/kcal)</th>
      <th>Tłuszcz (g)</th>
      <th>w tym kwasy tłuszczowe nasycone (g)</th>
      <th>Węglowodany (g)</th>
      <th>w tym cukry (g)</th>
      <th>Błonnik (g)</th>
      <th>Białko (g)</th>
      <th><button type="button" class="btn btn-primary" [routerLink]="['/pickFood', user, dataSelected, 4 ]">Dodaj</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus" >
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.name}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.weight.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.energy.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.fat.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.saturates.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.carbohydrate.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.sugars.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.fibre.toFixed(2)}}</td>
      <td *ngIf="menu.meal === allMeal.DINNER">{{menu.food.protein.toFixed(2)}}</td>
      <td *ngIf=" menu.meal == allMeal.DINNER"><button type="button" class="btn btn-secondary btn-sm" (click)="deleteFood(this.menu.id)">Usuń</button></td>
    </tr>
  </tbody>
</table>

